body {

    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: orange;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {

    width: 500px;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.box02 {

    width: 500px;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.box03 {

    width: 500px;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}